.techniquesContainer {
    text-align: center;
    width: 80%;
    margin: 60px auto;
}

.techniquesContainer h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin: 0.5em 0;
}

.techniquesText {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
}

.techniquesBoxsContainer {
    font-family: 'Montserrat Variable', sans-serif;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.techniqueBox {
    flex: 0 0 42%;
    box-sizing: border-box;
    padding: 0 5px;
}

.techniqueInfoBox {
    z-index: 2;
    text-align: left;
}

.techniqueBox img {
    width: 100%;
    height: 150px;
    height: 43vw;
    object-fit: cover;
    border-radius: 20px;
}

@media(min-width:700px) {
    .techniqueBox {
        flex: 0 0 32%;
        padding: 0 7px;
    }
    
    .techniquesContainer h5 {
        font-size: 21px;
    }
    .techniquesText {
        font-size: 13px;
    }
}
@media (min-width: 1000px) {
    .techniqueBox {
        flex: 0 0 30%;
        padding: 0 10px;
    }
    .techniqueBox img {
        height: 34vw;
    }
}
@media (min-width: 1200px) {
    .techniqueBox img {
        height: 30vw;
    }    
    .techniqueBox {
        flex: 0 0 27.5%;
    }
    .techniquesText {
        font-size: 15px;
        width: 90%;
    }
}
@media (min-width: 1400px) {
    .techniqueBox img {
        height: 26vw;
    }
    .techniqueBox {
        flex: 0 0 25%;
    }
}
@media (min-width: 1800px) {
    .techniqueBox {
        flex: 0 0 23%;
    }
}