.puntosClaveContainer {
    background-color: #2d4047;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.puntosClaveCircle{
    border-radius: 50%;
    width: 52%;
    color: black;
    background-color: #fff;
    text-align: center;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    z-index: 2;
}
.puntosClaveText {
    font-size: 11px;
    font-weight: 400;
    width: 78%;
    margin: 0px auto;
    line-height: normal;
    padding-bottom: 8px;
}
.puntosClaveNumber {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat Variable', sans-serif;
    margin: 0;
    margin-bottom: 5px;
}


@media(min-width:700px) {
    .puntosClaveContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .puntosClaveContainer h2 {
        width: 100%;
    }
    .puntosClaveCircle {
        width: 30%;
        margin: 1%;
    }
    .puntosClaveNumber {
        font-size: 31px;
    }
    .puntosClaveText {
        font-size: 13px;
        font-weight: 400;
        width: 77%;
    }
}