.heroFooter {
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
.heroFooterStrong {
    font-weight: 600;
    margin: 0;
}
.heroFooterP {
    font-weight: 300;
    margin: 0;
}
.heroContainer {
    background-image: url('/public/images/hero2.jpg');
    background-image: url('/public/images/hero.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.heroLogo {
    width: 300px;
}
h1 {
    margin: 0;
    font-size: 22px;
}