.heroFooter {
    color: #f4f4f4;
    background-color: #2d4047;
    text-align: center;
    padding: 20px;
}
.heroFooterStrong {
    font-weight: 600;
    margin: 0;
}
.heroFooterP {
    font-weight: 300;
    margin: 0;
}
.heroContainer {
    background-image: url('/public/images/hero2.jpg');
    background-image: url('/public/images/hero.jpg');
    background-size: cover;
    background-position: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.heroLogo {
    width: 300px;
}
h1 {
    margin: 0;
    font-size: 20px;
    width: 80%;
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    color: #f4f4f4;
}
/* h1 {
    margin: 0;
    font-size: 20px;
    width: 72%;
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    color: #f4f4f4;
    text-transform: uppercase;
} */
h1 strong {
    font-weight: 700;
}