.afterContainer {
    text-align: center;
}
  
.imagesContainerMapAfter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
} 
  
.imageContainerAfter {
    position: relative;
    width: 70%;
    height: 150px;
    margin: 20px;
    margin-bottom: 30px;
}
  
.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: clip-path 0.5s ease;
    border-radius: 15px;
}
  
.image.before {
    clip-path: polygon(0 0, 100% 0, 0% 100%);
    border-right: 5px solid white; 
    z-index: 1;
}

.image.after {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.imageContainerAfter:hover .before:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 3;
}

.imageContainerAfter:hover .after:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 4;
}

.beforeAfterText {
    position: absolute;
    bottom: -45px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
  