.afterContainer {
    text-align: center;
}
  
.imagesContainerMapAfter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
} 
  
.imageContainerAfter {
    position: relative;
    width: 80%;
    height: 220px;
    margin: 20px;
    margin-bottom: 30px;
}
.verticalBox {
    height: 350px;
}
.verticalBox .image {
    background-position: bottom;
}
.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: clip-path 2s ease-in-out; /* Transición suave */
    border-radius: 25px;
}
  
.before {
    z-index: 1;
}
  
.after {
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Comienza oculta */
}
  
/* Animación loop para transiciones continuas */
.loopAnimation {
    animation: loopVertical 6s infinite ease-in-out;
}

/* Animación de "antes" a "después" en 3 segundos, luego regresa */
@keyframes loopVertical {
    0% {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Comienza oculta (antes) */
    }
    33% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Se muestra toda la imagen (después) */
    }
    66% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Mantiene la imagen completa (después) */
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Vuelve a ocultar (antes) */
    }
}
  