.budgetContainer {
    background-color: black;
    color: white;
}
.yourPartnerImage {    
    background-image: url(/public/images/wash.webp);
    background-size: cover;
    height: 60vh;
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    background-position: right;
    flex-direction: column;
    justify-content: space-between;
}
.yourPartnerImage strong {
    font-weight: 600;
}
.yourPartnerImage p {
    margin-left: 10%;
}
.logoBudget {
    width: 89px;
    margin-left: 72%;
    margin-top: 1em;
}

@media(min-width:700px) {
    
    .yourPartnerImage{
        background-size: 150%;
    }
    .logoBudget {
        width: 110px;
        margin-left: 81%;
        margin-top: 2em;
    }
    .yourPartnerImage p {
        margin: 0 0 2em 9%;
    }
}
@media (min-width: 1000px) {
    .yourPartnerImage p {
        font-size: 33px;
    }
}