:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: 'Inter Variable', sans-serif;
}
h2 {
  font-family: 'Montserrat Variable', sans-serif;
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
}
 
@media(min-width: 700px) {
  h2 {
    font-size: 31px;
    margin: 2em;
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 38px;
    margin: 2em;
  }
  .tabletOff {
    display: none !important;
  }
}
@media (min-width: 1800px) {
  h2 {
    font-size: 42px;
  }
}